* {
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url(../images/beautiful-tropical-beach-sea.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  overflow-x: hidden;
  background-position: 100% -40px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 30px;
}
h1 {
  font-size: 60px;
}

#floatingInput {
  margin-bottom: 20px;
  margin-left: 450px;
  width: 30%;
}
#floatingInput::placeholder {
  color: gray;
  padding-left: 100px;
}

#floatingInputGrid {
  width: 50%;
  margin-left: 320px;
}
#floatingInputGrid2 {
  width: 50%;
  margin-left: 10px;
}
.form-floating {
  color: darkblue;
  font: bolder;
}
.form-control:focus {
  border-color: #e8a31e;
  box-shadow: 3px 3px 3px #e8a31e;
}
button {
  background-color: lightblue;
  border-radius: 15px;
  padding: 15px;
  margin-left: 570px;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 800;
}
button:hover {
  background-color: #c69419;
}
#warning {
  color: yellow;
  text-align: center;
  margin-top: -215px;
}
#logo {
  margin-left: 1100px;
  width: 14%;
}
a {
  text-decoration: none;
}
