*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
.container{
/* background-image:url("../images/Fine-dining-pic.jpg");("../images/food backround.jpg"); */
background-image:url("../images/vibrant-food.jpg");
height: 100%;
max-width: 100%;
background-position: center;
background-size: cover;
border-image-repeat: no-repeat;

font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 300;
color: #07458F;
}