*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
   background-image:url("../images/vibrant-food.jpg");
   height: auto;
   max-width: 100%;
   background-position: center;
   background-size: cover;
   /* border-image-repeat: no-repeat; */
   align-content: space-between;

}
.container{
padding-top: auto;
padding: botton 20px;
margin: 50px;
align-content:space-around;

font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 300;
color: #07458F;
}
h2 {
    color: white;
}