*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.bg{
    background-image: url("../images/Boardwalk over ocean.jpg");
    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;

}
.container { 
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 25px;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;

}


