*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;

}

body {
    background-image: url("");
    background-size: contain;

    background-color: rgba(237, 255, 38, 0.121);
}

.header {
    background-color:black;
    color: rgb(238, 248, 135);
    font-weight: 700;
    
    padding: 20px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;

}

.title {
}